<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Darío Macchi | Evidence of the low software inspection adoption</title>

    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="author" content="Darío Macchi" />
<meta name="description" content="My own resume in an uncommon way to present it that I called KanbanCV. Just as a regular resume but with additional (complementary) information." />
<meta name="keywords" content="kanbancv,resume,kanban,curriculum vitae,me,experience,education,research,projects,software engineer,PwC,InnovaAge,Universidad ORT Uruguay" />

<link rel="dns-prefetch" href="//dariomac.com"/>
<link rel="dns-prefetch" href="//translate.googleapis.com"/>
<link rel="dns-prefetch" href="//gstatic.com"/>
<link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com"/>
<link rel="dns-prefetch" href="//google-analytics.com"/>
<link rel="dns-prefetch" href="//fonts.gstatic.com"/>
<link rel="dns-prefetch" href="//translate.google.com"/>
<link rel="dns-prefetch" href="//google.com"/>
<link rel="dns-prefetch" href="//c.statcounter.com"/>
<link rel="dns-prefetch" href="//statcounter.com"/>
<link rel="dns-prefetch" href="//fonts.googleapis.com"/>
<link rel="dns-prefetch" href="//yui.yahooapis.com"/>

<link rel="stylesheet" type="text/css" href="/assets/vendor/jquery.fancybox/jquery.fancybox.css">
<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans' type='text/css'>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<!--[if lt IE 8]>
  <link rel="stylesheet" type="text/css" href="/assets/css/style_ie.css">
  <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<![endif]-->

<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<script type="text/javascript" src="/assets/vendor/jquery/jquery.min.js"></script>
<!--<script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>-->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28220054-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

  function afterContentDraw(){
    setTimeout(function(){
      var aList = $('a').not('a[href^="/"]').not('a[href*="www.dariomac.com"]').not('a[href*="javascript:void(0)"]');
      aList = aList.add($('a[href$=".pdf"],a[href$=".zip"],a[href$=".txt"]'));
      $.each(aList,
        function(k, v){
          var $v = $(v);

          $v.click(function(){
            _gaq.push(['_trackPageview', $v.attr('href')]);
          });
            //$v.css('color','red');
          });

      preloadImages($('a.fancybox'));
    }, 1000);
  }

  function preloadImages(array) {
    if (!preloadImages.list) {
      preloadImages.list = [];
    }
    for (var i = 0; i < array.length; i++) {
      var img = new Image();
      img.src = $(array[i]).attr('href');
      preloadImages.list.push(img);
    }
  }

  function loadCSS( href, before, media ){
    // Arguments explained:
    // `href` [REQUIRED] is the URL for your CSS file.
    // `before` [OPTIONAL] is the element the script should use as a reference for injecting our stylesheet <link> before
      // By default, loadCSS attempts to inject the link after the last stylesheet or script in the DOM. However, you might desire a more specific location in your document.
    // `media` [OPTIONAL] is the media type or query of the stylesheet. By default it will be 'all'
    var doc = this.document;
    var ss = doc.createElement( "link" );
    var newMedia = media || "all";
    var ref;
    if( before ){
      ref = before;
    }
    else {
      var refs = ( doc.body || doc.getElementsByTagName( "head" )[ 0 ] ).childNodes;
      ref = refs[ refs.length - 1];
    }

    var sheets = doc.styleSheets;
    ss.rel = "stylesheet";
    ss.href = href;
    // temporarily set media to something inapplicable to ensure it'll fetch without blocking render
    ss.media = "only x";

    // wait until body is defined before injecting link. This ensures a non-blocking load in IE11.
    function ready( cb ){
      if( doc.body ){
        return cb();
      }
      setTimeout(function(){
        ready( cb );
      });
    }
    // Inject link
      // Note: the ternary preserves the existing behavior of "before" argument, but we could choose to change the argument to "after" in a later release and standardize on ref.nextSibling for all refs
      // Note: `insertBefore` is used instead of `appendChild`, for safety re: http://www.paulirish.com/2011/surefire-dom-element-insertion/
    ready( function(){
      ref.parentNode.insertBefore( ss, ( before ? ref : ref.nextSibling ) );
    });
    // A method (exposed on return object for external use) that mimics onload by polling until document.styleSheets until it includes the new sheet.
    var onloadcssdefined = function( cb ){
      var resolvedHref = ss.href;
      var i = sheets.length;
      while( i-- ){
        if( sheets[ i ].href === resolvedHref ){
          return cb();
        }
      }
      setTimeout(function() {
        onloadcssdefined( cb );
      });
    };

    // once loaded, set link's media back to `all` so that the stylesheet applies once it loads
    if( ss.addEventListener ){
      ss.addEventListener( "load", function(){
        this.media = newMedia;
      });
    }
    ss.onloadcssdefined = onloadcssdefined;
    onloadcssdefined(function() {
      if( ss.media !== newMedia ){
        ss.media = newMedia;
      }
    });
    return ss;
  };
</script>

<!-- Start of StatCounter Code for Default Guide -->
<script type="text/javascript">
  var sc_project=9186547;
  var sc_invisible=1;
  var sc_security="dce954c9";
  var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
  document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript>
  <div class="statcounter">
    <a title="web analytics" href="http://statcounter.com/" target="_blank">
      <img class="statcounter" src="http://c.statcounter.com/9186547/0/dce954c9/1/" alt="web analytics"></a>
  </div>
</noscript>
<!-- End of StatCounter Code for Default Guide -->

<script type="text/javascript">
  var baseUrl = "http://www.dariomac.com";
</script>

<link rel="shortcut icon" href="/assets/favicon.ico" />

<link href="https://plus.google.com/101333970265292795022" rel="publisher" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta property="og:image" content="/assets/images/d.png">
<meta property="og:image:type" content="image/png">


    <script type="text/javascript" src="/assets/vendor/jquery.fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/assets/js/kanbancv.js"></script>

    <script type="text/javascript">
      $(function() {
        //board_dimensions.init(); //draw_kanban_board(boardArray, false, tasksArray, false);
        afterContentDraw();

        $(".fancybox").fancybox({
          openEffect  : 'none',
          closeEffect : 'none'
        });
      });
    </script>

  </head>
  <body itemscope itemtype="http://schema.org/WebPage">
    <div class="wrapper">
      <div class="header">
        <div class="center"></div>
      </div>
      <div class="board_view">
        <div class="clearfix top_menu" style="border-bottom: #D8D7D7 1px solid">
  <div style="float:right; padding-top: 8px; padding-left: 15px;">
      <a class="btn_feedback" title="Contact me" href="/messages/new">
      <strong>Contact me<span>&nbsp;</span></strong>
      </a>
  </div>
  <div class="submenu">
    <div class="orange_box" itemprop="author" itemscope itemtype="http://schema.org/Person">
      <a class="url" href="/about-me">
          <div class="username">
              <span>
                <strong>
                  <span itemprop="name">Darío</span> <span itemprop="familyName">Macchi</span>
                </strong>
              </span>
          </div>
      </a>
      <ul>
        <li id="link_manage_team">
          <strong>
            <span itemscope itemtype="http://schema.org/City">
              <a target="_blank" href="http://maps.google.com/maps?q=montevideo+city+uruguay&hl=en&sll=-32.522779,-55.765835&sspn=5.325828,9.876709&t=v&hnear=Montevideo,+Montevideo+Dept,+Uruguay&z=11" itemprop="url">
                <span itemprop="name">
                  Montevideo</span>,
              </a>
            </span>
            <span itemprop="nationality" itemscope itemtype="http://schema.org/Country">
              <span itemprop="name">
                <a href="https://www.google.com.uy/maps/preview?q=google+maps+uruguay&ie=UTF-8&hq=&hnear=0x9575073afb5fde09:0x4a5596616016524a,Uruguay&gl=uy&ei=KiKjU6fpE-HNsQSlqYGoCg&ved=0CBsQ8gEwAA" itemprop="url">
                  Uruguay
                </a>
              </span>
            </span>
          </strong>
        </li>
        <li id="common_cv"><strong><a href="/kanbancv" style="color:#FFF">What is this?</a></strong></li>
      </ul>
    </div>
  </div>
  <a href="/">
    <img style="float:left;" width="50" height="50" src="/assets/images/d.png" alt="Orange D inside a circle">
  </a>

  <div class="breadcrumb">
    <div class="breadcrumb-items" itemprop="breadcrumb">
      <strong><a href="/">Home ( KanbanCV ) / </a></strong>
        <strong></strong>
      <div style="padding-left: 20px; display: inline;">
        <div id="new_essay" style="display: inline; color:red;">
          <span class="transition">
            <i class="fa fa-heartbeat" aria-hidden="true"></i>
            <% last_essay = essays_by_date.first %>
            <%= raw "<a href='#{last_essay[:full_path]}' style='text-decoration: underline;'>#{last_essay[:label]}</a>" %>
          </span>
          |
          <a href="/essays" style="text-decoration: underline; padding: 1px 2px;">More essays</a>
        </div>
      </div>
    </div>
  </div>
</div>

        <div id="board_container">
          <div class="content entry">
            <div itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/CreativeWork">
              <span itemprop="name" style="display:none">Research details</span>
              <span itemprop="author" itemscope itemtype="http://schema.org/Person" style="display:none"><span itemprop="name">Darío Macchi</span></span>

              <table cellspacing="0" cellpadding="0">
                  <tbody>
                      <tr>
                        <td class="details_cell">
                          <h1 itemprop="name">Evidence of the low software inspection adoption</h1>
                          <p itemprop="description" class="quotation">"Evidence of the low software inspection adoption"</p>
                        </td>
                      </tr>


                        <tr>
                            <td class="swimlane_inner">
                                <strong>Knowledge - Products - Facts</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="details_cell">
                                <div itemprop="text" class="details_content">
                                  <p>Aug, 2012</p>
<table class="tableizer-table">
  <tr class="tableizer-firstrow">
     <th>
        Quoted text
     </th>
     <th>
        <p>
           Reference<br>
           (inside the source document)
        </p>
     </th>
     <th>
        Source document
     </th>
  </tr>
  <tr>
     <td>
        Inspection repeatedly has been demonstrated to yield up to a 10- to-1 return on investment...depressingly few practitioners know about the 30-year-old tech- nique of software inspection.
     </td>
     <td>
        Wiegers, K. (2006). The more things change. Better Software, 8(1), 30-34. IEEE.
     </td>
     <td>
        Ebert, C., Stewart, R., &amp; Priven, L. (2008). How to Avoid Software Inspection Failure and Achieve Ongoing Benefits. CrossTalk: The Journal for Defense Software Engineering, 23-27.
     </td>
  </tr>
  <tr>
     <td>
        ...inspections never succeeded as well as expected, primarily because these organizations did not learn how to make inspections both effective and low cost.
     </td>
     <td>
        Radice, Ron. High Quality Low Cost Software Inspections. Andover, MA:Paradoxicon Publishing, 200
     </td>
     <td>
        Ebert, C., Stewart, R., &amp; Priven, L. (2008). How to Avoid Software Inspection Failure and Achieve Ongoing Benefits. CrossTalk: The Journal for Defense Software Engineering, 23-27.
     </td>
  </tr>
  <tr>
     <td>
        I continue to be amazed at the number of software development organizations that do not use this powerful method [inspections] to improve quality and productivity.
     </td>
     <td>
        Weller, Ed. “Calculating the Economics of Inspections." StickyMinds Jan. 2002
     </td>
     <td>
        Ebert, C., Stewart, R., &amp; Priven, L. (2008). How to Avoid Software Inspection Failure and Achieve Ongoing Benefits. CrossTalk: The Journal for Defense Software Engineering, 23-27.
     </td>
  </tr>
  <tr>
     <td>
        ...the inspection process has not gained widespread usage according to the Software Engineering Institute.
     </td>
     <td>
        D. O'Neill, National software quality experiment: results 1992–1996, Proceedings of QualityWeek Europe Conference, Brussels, 1997, pp. 1–25.
     </td>
     <td>
        Mishra, D., &amp; Mishra, A. (2009). Simplified software inspection process in compliance with international standards. Computer Standards &amp; Interfaces, 31(4), 763-771. Elsevier B.V. doi: 10.1016/j.csi.2008.09.018.
     </td>
  </tr>
  <tr>
     <td>
        many software companies perform reviews they do it unsystematically and little knowledge about software inspection is used.
     </td>
     <td>
        Ciolkowski, M., Laitenberger, O., Biffl, S., “Software Reviews: The State of the Practice", IEEE Software 20 (6): 46-51, 2003.
     </td>
     <td>
        Mishra, D., &amp; Mishra, A. (2009). Simplified software inspection process in compliance with international standards. Computer Standards &amp; Interfaces, 31(4), 763-771. Elsevier B.V. doi: 10.1016/j.csi.2008.09.018.
     </td>
  </tr>
  <tr>
     <td>
        ...it is also well known that there is a huge gap between this knowledge and the real state of practice.
     </td>
     <td>
     </td>
     <td>
        Kollanus, S. (2009). Experiences from using ICMM in inspection process assessment. Software Quality Journal, 17(2), 177-187. doi: 10.1007/s11219-008-9067-2.
     </td>
  </tr>
  <tr>
     <td>
        Ciolkowski et al. (2003) found that about 40% of the respondents to their survey regularly review requirements, which is the most typical document type to review.
     </td>
     <td>
        Ciolkowski, M., Laitenberger, O., &amp; Biffl, S. (2003). Software reviews, the state of the practice. IEEE Software, 20(6), 46–51.
     </td>
     <td>
        Kollanus, S. (2009). Experiences from using ICMM in inspection process assessment. Software Quality Journal, 17(2), 177-187. doi: 10.1007/s11219-008-9067-2.
     </td>
  </tr>
  <tr>
     <td>
        Johnson (1998) reported that 80% of the respondents in his small survey used inspection irregularly or not at all.
     </td>
     <td>
        Johnson, P. (1998). Reengineering inspection. Communications of the ACM, 41(2), 49–52.
     </td>
     <td>
        Kollanus, S. (2009). Experiences from using ICMM in inspection process assessment. Software Quality Journal, 17(2), 177-187. doi: 10.1007/s11219-008-9067-2.
     </td>
  </tr>
  <tr>
     <td>
        Despite the effort for improving inspections, the relevant problem seems to be the wide adoption of inspections spite the overwhelming evidences of their benefits.
     </td>
     <td>
        C. Denger, and F. Shull. A Practical Approach for Quality- Driven Inspections. In Software, IEEE, vol. 24, no. 2, 2007.
     </td>
     <td>
        Ferreira, A. L., Machado, R. J., Costa, L., &amp; Paulk, M. C. (2010). An Apporach to Improving Software Inspections Performance. Conference On Software Maintenance.
     </td>
  </tr>
  <tr>
     <td>
        Despite the effort for improving inspections, the relevant problem seems to be the wide adoption of inspections spite the overwhelming evidences of their benefits.
     </td>
     <td>
        J. Remillard. Source code review systems. In Software, IEEE, vol. 22, no. 1, pp. 74 - 77, Jan 1, 2005.
     </td>
     <td>
        Ferreira, A. L., Machado, R. J., Costa, L., &amp; Paulk, M. C. (2010). An Apporach to Improving Software Inspections Performance. Conference On Software Maintenance.
     </td>
  </tr>
  <tr>
     <td>
        According to a survey, about 70 percent of the respondents from software companies produce requirements and design documents [7]. Of those who produce requirements and design documents, fewer than half perform document reviews.
     </td>
     <td>
     </td>
     <td>
        Komssi, M., Kauppinen, M., Pyhajarvi, M., Talvio, J., &amp; Mannisto, T. (2010). Persuading Software Development Teams to Document Inspections: Success Factors and Challenges in Practice. 2010 18th IEEE International Requirements Engineering Conference, 283-288. Ieee. doi: 10.1109/RE.2010.40.
     </td>
  </tr>
  <tr>
     <td>
        inspections have problems
     </td>
     <td>
     </td>
     <td>
        Denger, C., &amp; Shull, F. (2007). A Practical Approach for Quality-Driven Inspections. IEEE Software, 24(2), 79-86. doi:10.1109/MS.2007.31
     </td>
  </tr>
  <tr>
     <td>
        ...they cut corners on the process at every opportunity.
     </td>
     <td>
     </td>
     <td>
        Denger, C., &amp; Shull, F. (2007). A Practical Approach for Quality-Driven Inspections. IEEE Software, 24(2), 79-86. doi:10.1109/MS.2007.31
     </td>
  </tr>
  <tr>
     <td>
        ...results of a survey [3] show that although many software companies perform reviews they do it unsystematically and little knowledge about software inspections is used.
     </td>
     <td>
        Ciolkowski, M., Laitenberger, O., Biffl, S., “Software Reviews: The State of the Practice", IEEE Software 20 (6): 46-51, 2003.
     </td>
     <td>
        Kalinowski, M., &amp; Travassos, G. H. (2007). ISPIS: From Conception towards Industry Readiness. XXVI International Conference of the Chilean Society of Computer Science (SCCC'07), 132-141. Ieee. doi:10.1109/SCCC.2007.9
     </td>
  </tr>
</table>

                                </div>
                            </td>
                        </tr>
                      <tr class="details_cell">
                        <td>


                        </td>
                      </tr>
                  </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer" style="text-align:center; width:100%;">
  <div style="text-align:center; width:100%">
  <ul>
    <li style="margin-top: 0px;">
      <a href="javascript:void(0);" onclick="window.open('http://www.copyscape.com/?q=' + escape(window.location) + '&src=front'); return false;">
        <IMG src="/assets/images/cs-wh-3d-234x16.gif" alt="Protected by Copyscape Duplicate Content Detector" title="Protected by Copyscape Plagiarism Checker - Do not copy content from this page." width="234" height="16" border="0">
      </A>
    </li>
    <li><a style="padding-top:1px" href="/kanbancv">KanbanCV</a> © 2011-<%= Time.now.year %> <a style="padding-top:1px" href="/sitemap"><i class="fa fa-sitemap" aria-hidden="true"></i> Sitemap</a></li>
    <li>
      <a href="http://uy.linkedin.com/in/dariomac" style="text-decoration:none;" target="_blank">
        <img src="/assets/images/linkedin.png" width="17" height="16" alt="View Darío Macchi's LinkedIn profile" border="0" />
      </a>
    </li>
    <li>
      <a rel="author" href="https://plus.google.com/101333970265292795022?prsrc=3" style="text-decoration:none;" target="_blank">
        <img src="/assets/images/gplus-16.png" alt="View Darío Macchi's Google+ profile" width="15" height="15" style="border:0;"/>
      </a>
    </li>
    <li>
      <a href="http://twitter.com/_dariomac" target="_blank">
        <img src="/assets//images/twitter-16.png" width="15" height="15" alt="View my twitter"/>
      </a>
    </li>
    <li>
      <a href="http://www.researchgate.net/profile/Dario_Macchi/" target="_blank">
        <img src="/assets/images/researchgate.png" width="15" height="15" alt="View my ResearchGate profile"/>
      </a>
    </li>
    <li style="padding-right: 2px;">
      <a href="http://www.diigo.com/user/Dariomac" target="_blank">
        <img src="/assets/images/diigo.png" width="41" height="15" alt="View my Diigo bookmarks library"/>
      </a>
    </li>
    <li style="margin-top: 0px;">
      <div class="board_filter">
      <span>Filter: </span>
      <input id="filter" type="text" />
      </div>
    </li>
    <li style="margin-top: 0px">
      <a href="http://humanstxt.org/humans/dario-macchi/" target="_black">
        <img src="/assets/images/humanstxt-transparent-color.png" width="84" height="15" />
      </a>
    </li>
    <li>Powered by <a style="padding-top:1px" href="http://github.com/comfy/comfortable-mexican-sofa">Comfy</a></li>
  </ul>
  </div>
</div>

<script>
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({
      pageLanguage: 'en',
      multilanguagePage: true,
      gaTrack: true,
      gaId: 'UA-28220054-1',
      floatPosition: google.translate.TranslateElement.FloatPosition.BOTTOM_LEFT
    });
  }
</script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


  </body>
</html>
