/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 10px;
  font-family: "Open Sans", arial, sans-serif !important;
  color: #331d35;
}

a {
  color: #41307c;
  text-decoration: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.orange_box {
  display: none;
}
/* --------------------------------
Main Components
-------------------------------- */
.dm-header {
  position: relative;
  height: 150px;
  background-color: #331d35;
}

.dm-header h1 {
  color: #ffffff;
  line-height: 150px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
}

@media only screen and (min-width: 1170px) {
  .dm-header {
    height: 180px;
  }
  .dm-header h1 {
    line-height: 180px;
  }
}

.new_essay_wrapper {
  padding-left: 110px;
  /* display: inline; */
  height: 50px;
  margin: 0 auto;
  padding-top: 18px
}

#new_essay span {
  padding: 2px 2px 2px 5px;
  background-color: rgba(255,255,255,1);
  border-radius: 5px;
}

#new_essay i {
  font-size: 12px;
  transition: all .2s ease-in-out;
  width: 16px;
  text-align: center;
}

#new_essay.blink i {
  font-size: 14px !important;
  transition: all .1s ease-in-out;
}

#new_essay.blink span {
  background-color: rgba(255, 221, 0, 0.5) !important;
}

.iso {
  padding: 0px 5px
}

.dm-main-content {
  position: relative;
  min-height: 100vh;
}

.dm-main-content:after {
  content: "";
  display: table;
  clear: both;
}

.dm-main-content .logo {
    position: fixed;
    top: 0;
    display: block;
    width: auto;
    text-indent: 0;
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 0px;
    background-position: left center;
    z-index: 10;
}

.dm-main-content.is-fixed .dm-tab-filter-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.dm-main-content.is-fixed .dm-board {
  padding-top: 76px;
}

.dm-main-content.is-fixed .dm-filter {
  position: fixed;
  height: 100vh;
  overflow: hidden;
}

.dm-main-content.is-fixed .dm-filter form {
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.dm-main-content.is-fixed .dm-filter-trigger {
  position: fixed;
}

/* --------------------------------
xtab-filter
-------------------------------- */
.dm-tab-filter-wrapper {
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.dm-tab-filter-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.dm-tab-filter {
  /* tabbed navigation style on mobile - dropdown */
  position: relative;
  height: 50px;
  width: 140px;
  margin: 0 auto;
  z-index: 1;
}
.dm-tab-filter::after {
  /* small arrow icon */
  content: '';
  position: absolute;
  right: 14px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/dm-icon-arrow.svg") no-repeat center center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
.dm-tab-filter ul {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: inset 0 -2px 0 #41307c;
}
.dm-tab-filter li {
  display: none;
}
.dm-tab-filter li:first-child {
  /* this way the placehodler is alway visible */
  display: block;
}
.dm-tab-filter a {
  display: block;
  /* set same size of the .dm-tab-filter */
  height: 50px;
  width: 140px;
  line-height: 50px;
  padding-left: 14px;
}
.dm-tab-filter a.selected {
  background: #41307c;
  color: #ffffff;
}
.dm-tab-filter.is-open::after {
  /* small arrow rotation */
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -moz-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  -o-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}
.dm-tab-filter.is-open ul {
  box-shadow: inset 0 -2px 0 #41307c, 0 2px 10px rgba(0, 0, 0, 0.2);
}
.dm-tab-filter.is-open ul li {
  display: block;
}
.dm-tab-filter.is-open .placeholder a {
  /* reduces the opacity of the placeholder on mobile when the menu is open */
  opacity: .4;
}

/* --------------------------------
dm-board
-------------------------------- */
.dm-board-header {

}

#dm-board-header .plan,
#dm-board-header .in_progress,
#dm-board-header .done {
  color: #FFF;
  text-align: center;
  padding: 0px;
}

#dm-board-header .plan span::before {
  background-image: url(/assets/images/sprite_column_markers.png);
  background-position: 1px 0;
  float: left;
}

#dm-board-header .plan {
  border: #64ade3 1px solid;
  background: url(/assets/images/bgr_plan.gif) repeat-x 0px 0px;
}

#dm-board-header .plan span::after {
  background-image: url(/assets/images/sprite_column_markers.png);
  background-position: 1px -18px;
  float: right;
}


#dm-board-header .in_progress span::before {
  background-image: url(/assets/images/sprite_column_markers.png);
  background-position: 0 -37px;
  float: left;
}

#dm-board-header .in_progress {
  border: #ffc34a 1px solid;
  background: url(/assets/images/bgr_in_progress.gif) repeat-x 0px 0px;
}

#dm-board-header .in_progress span::after {
  background-image: url(/assets/images/sprite_column_markers.png);
  background-position: 1px -56px;
  float: right;
}

#dm-board-header .done span::before {
  background-image: url(/assets/images/sprite_column_markers.png);
  background-position: 3px -75px;
  float: left;
}

#dm-board-header .done {
  border: #7da623 1px solid;
  background: url(/assets/images/bgr_done.gif) repeat-x 0px 0px;
}

#dm-board-header .done span::after {
  background-image: url(/assets/images/sprite_column_markers.png);
  background-position: 0px -95px;
  float: right;
}

#dm-board-header span {
  font-size: 11px;
  font-weight: bold;
}

#dm-board-header span::before, #dm-board-header span::after {
  background-repeat: no-repeat;
  content: " ";
  height: 14px;
  margin: 2px;
  width: 18px;
}

#dm-board-header-descs div {
  background-color: #f0f0f0;
  padding-top: 2px;
  border: #d8d7d7 1px solid;
  text-align: center;
}

.dm-board {
  /* padding: 26px 5%;
  width: 100%;*/
}

.splitter {
  background-color: #F0F0F0;
  border: #d8d7d7 1px solid;
  font-size: 10px;
  height: 19px;
  margin-bottom: 10px;
}

.splitter > div {
  font-weight: bold;
  padding-top: 1px;
}

.splitter:not(:first-child) {
  margin-top: 40px;
}

.dm-board .dm-fail-message {
  display: none;
  text-align: center;
}

.task {
  font-size: 10px;
  margin: 5px 0px;
  width: 170px /*12rem*/;
  background-color: #99b399;
}

.task.card {
  border-radius: 0;
}

.task.card a:hover {
  text-decoration: none;
}

.task .card-header {
  background-color: inherit;
}

.task .card-header:hover {
  text-decoration: underline;
}

.task .card-header, .task .card-body, .task .list-group-item {
  padding: 0.20rem;
}

.task .card-body, .task .list-group-item {
  background-color: #EEE;
  color: #414141;
}

.task .subtasks label {
  margin-bottom: 0px;
}

.task .list-group {
  margin-bottom: 1px;
}

.task .list-group-item {
  list-style-position:inside;
}

.task .badge {
  border-radius: 0.3rem;
  font-weight: normal;
  padding: .45em .4em;
}

.task .task_tag {
  background-image: url(/assets/images/sprite_icons.png);
  background-position: -60px -136px;
  background-repeat: no-repeat;
  float: left;
  margin: 1px 3px 0px 0px;
  overflow: hidden;
  width: 11px;
  height: 11px;
  text-indent: -99px;
}

.task .list-group-item a {
  text-decoration: underline;
  color: #414141
}

.task .task_external_link {
  background-image: url(/assets/images/sprite_icons.png);
  background-position: -60px -120px;
  background-repeat: no-repeat;
  float: left;
  height: 11px;
  margin: 1px 3px 0px 0px;
  overflow: hidden;
  text-indent: -99px;
  width: 11px;
}

.footer {
  z-index: 9999999;
  overflow: visible;
  position: fixed;
  top: auto;
  bottom: 0px;
  right: auto;
}

/* --------------------------------
dm-filter
-------------------------------- */
.dm-filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: #ffffff;
  box-shadow: 4px 4px 20px transparent;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
  -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
}
.dm-filter::before {
  /* top colored bar */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #41307c;
  z-index: 2;
}
.dm-filter form {
  padding: 70px 20px;
}
.dm-filter .dm-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  color: #ffffff;
  font-size: 1.3rem;
  text-align: center;
  background: #37296a;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 3;
}
.no-touch .dm-filter .dm-close:hover {
  background: #32255f;
}
.dm-filter.filter-is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
.dm-filter.filter-is-visible .dm-close {
  opacity: 1;
}

.dm-filter-trigger {
  position: absolute;
  top: 0;
  left: 30px;
  height: 50px;
  line-height: 50px;
  width: 60px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  background: transparent url("../images/dm-icon-filter.svg") no-repeat center center;
  z-index: 3;
}
.dm-filter-trigger.filter-is-visible {
  pointer-events: none;
}

/* --------------------------------
xcustom form elements
-------------------------------- */
.dm-filter-block {
  margin-bottom: 1.6em;
}
.dm-filter-block h4 {
  /* filter block title */
  position: relative;
  margin-bottom: .2em;
  padding: 10px 0 10px 20px;
  color: #9a9a9a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.no-touch .dm-filter-block h4:hover {
  color: #41307c;
}
.dm-filter-block h4::before {
  /* arrow */
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 16px;
  background: url("../images/dm-icon-arrow.svg") no-repeat center center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.dm-filter-block h4.closed::before {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.dm-filter-block input, .dm-filter-block select,
.dm-filter-block .radio-label::before,
.dm-filter-block .checkbox-label::before {
  /* shared style for input elements */
  border-radius: 0;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
}
.dm-filter-block input[type='search'],
.dm-filter-block input[type='text'],
.dm-filter-block select {
  width: 100%;
  padding: .8em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
}
.dm-filter-block input[type='search']:focus,
.dm-filter-block input[type='text']:focus,
.dm-filter-block select:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #41307c;
}
.dm-filter-block input[type='search'] {
  /* custom style for the search element */
  border-color: transparent;
  background-color: #e6e6e6;
  /* prevent jump - ios devices */
  font-size: 1.6rem !important;
}
.dm-filter-block input[type='search']::-webkit-search-cancel-button {
  display: none;
}
.dm-filter-block .dm-select {
  /* select element wrapper */
  position: relative;
}
.dm-filter-block .dm-select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/dm-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}
.dm-filter-block select {
  cursor: pointer;
  font-size: 1.4rem;
}
.dm-filter-block select::-ms-expand {
  display: none;
}
.dm-filter-block .list li {
  position: relative;
  margin-bottom: .8em;
}
.dm-filter-block .list li:last-of-type {
  margin-bottom: 0;
}
.dm-filter-block input[type=radio],
.dm-filter-block input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.dm-filter-block .checkbox-label,
.dm-filter-block .radio-label {
  padding-left: 24px;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.dm-filter-block .checkbox-label::before, .dm-filter-block .checkbox-label::after,
.dm-filter-block .radio-label::before,
.dm-filter-block .radio-label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.dm-filter-block .checkbox-label::before,
.dm-filter-block .radio-label::before {
  width: 16px;
  height: 16px;
  left: 0;
}
.dm-filter-block .checkbox-label::after,
.dm-filter-block .radio-label::after {
  /* check mark - hidden */
  display: none;
}
.dm-filter-block .checkbox-label::after {
  /* check mark style for check boxes */
  width: 16px;
  height: 16px;
  background: url("../images/dm-icon-check.svg") no-repeat center center;
}
.dm-filter-block .radio-label::before,
.dm-filter-block .radio-label::after {
  border-radius: 50%;
}
.dm-filter-block .radio-label::after {
  /* check mark style for radio buttons */
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  left: 5px;
}
.dm-filter-block input[type=radio]:checked + label::before,
.dm-filter-block input[type=checkbox]:checked + label::before {
  border-color: #41307c;
  background-color: #41307c;
}
.dm-filter-block input[type=radio]:checked + label::after,
.dm-filter-block input[type=checkbox]:checked + label::after {
  display: block;
}

@-moz-document url-prefix() {
  /* hide custom arrow on Firefox - select element */
  .dm-filter-block .dm-select::after {
    display: none;
  }
}

.attachments {
  margin-bottom: 20px;
}

.image_gallery {
  padding-left: 6px;
  padding-right: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
.image_gallery a img {
  padding-bottom: 4px;
  padding-right: 4px;
}
.image_gallery a {
  padding-right: 0px;
}

article img[src*="#center"],
article iframe[src*="#center"] {
    display: block;
    margin: 0 auto;
    max-width: 95%;
}

.download {
  background: url(/assets/images/download.png) 0px 0px repeat !important;
  float: right;
  width: 100px;
  height: 16px;
  padding-right: 0px !important;
}
