<div class="footer" style="text-align:center; width:100%;">
  <div style="text-align:center; width:100%">
  <ul>
    <li style="margin-top: 0px;" class="d-none d-lg-block">
      <a href="javascript:void(0);" onclick="window.open('https://www.copyscape.com/?q=' + escape(window.location) + '&src=front'); return false;">
        <IMG src="/assets/images/cs-wh-3d-234x16.gif" alt="Protected by Copyscape Duplicate Content Detector" title="Protected by Copyscape Plagiarism Checker - Do not copy content from this page." width="234" height="16" border="0">
      </A>
    </li>
    <li><a style="padding-top:1px" href="/kanbancv">KanbanCV</a> © 2011-{{getCurrentYear}} <a style="padding-top:1px" href="/sitemap"><i class="fa fa-sitemap" aria-hidden="true"></i> Sitemap</a></li>
    <li>
      <a href="https://uy.linkedin.com/in/dariomac" style="text-decoration:none;" target="_blank" rel="noreferrer">
        <img src="/assets/linkedin.svg" width="16" height="15" alt="View Darío Macchi's LinkedIn profile" />
      </a>
    </li>
    <li>
      <a href="https://twitter.com/_dariomac" target="_blank" rel="noreferrer">
        <img src="/assets/twitter.svg" width="16" height="16" alt="View my twitter"/>
      </a>
    </li>
    <li class="d-none d-lg-block">
      <a href="https://www.researchgate.net/profile/Dario_Macchi" target="_blank" rel="noreferrer">
        <img src="/assets/researchgate.png" width="15" height="15" alt="View my ResearchGate profile"/>
      </a>
    </li>
    <li style="margin-top: 0px" class="d-none d-lg-block">
      <a href="http://humanstxt.org" target="_black" rel="noreferrer">
        <img src="/assets/images/humanstxt-transparent-color.png" width="84" height="15" alt="View humans.txt file"/>
      </a>
    </li>
  </ul>
  </div>
</div>

<script type="text/javascript" src="/assets/vendor/jquery/jquery-3.6.0.min.js"></script>
<!-- Default Statcounter code for Dariomac.com
http://dariomac.com -->
<script type="text/javascript">
  var sc_project=9186547; 
  var sc_invisible=1; 
  var sc_security="dce954c9"; 
  </script>
  <script type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js"
  async></script>
  <noscript><div class="statcounter"><a title="web counter"
  href="https://statcounter.com/" target="_blank"><img
  class="statcounter"
  src="https://c.statcounter.com/9186547/0/dce954c9/1/"
  alt="web counter"></a></div></noscript>
<!-- End of Statcounter Code -->
