<div class="footer">
  <ul>
    <li>
      <a href="/kanbancv">KanbanCV</a>
      <span class="footer-sep">&copy; 2011&ndash;{{getCurrentYear}}</span>
    </li>
    <li>
      <a href="/sitemap" title="Sitemap"><i class="fa fa-sitemap" aria-hidden="true"></i><span class="d-none d-md-inline-block">&nbsp;Sitemap</span></a>
    </li>
    <li>
      <a href="https://uy.linkedin.com/in/dariomac" target="_blank" rel="noreferrer" title="LinkedIn">
        <img src="/assets/linkedin.svg" width="16" height="16" alt="LinkedIn" />
      </a>
    </li>
    <li>
      <a href="https://twitter.com/_dariomac" target="_blank" rel="noreferrer" title="Twitter">
        <img src="/assets/twitter.svg" width="16" height="16" alt="Twitter" />
      </a>
    </li>
    <li class="d-none d-lg-block">
      <a href="https://www.researchgate.net/profile/Dario-Macchi" target="_blank" rel="noreferrer" title="ResearchGate">
        <img src="/assets/researchgate.png" width="16" height="16" alt="ResearchGate" />
      </a>
    </li>
    <li class="d-none d-lg-block">
      <a href="http://humanstxt.org" target="_blank" rel="noreferrer" title="humans.txt">
        <img src="/assets/images/humanstxt-transparent-color.png" width="84" height="15" alt="humans.txt" />
      </a>
    </li>
    <li class="d-none d-lg-block">
      <a href="javascript:void(0);" onclick="window.open('https://www.copyscape.com/?q=' + escape(window.location) + '&src=front'); return false;" title="Copyscape">
        <img src="/assets/images/cs-wh-3d-234x16.gif" alt="Protected by Copyscape" width="100" height="16">
      </a>
    </li>
  </ul>
</div>

<script type="text/javascript" src="/assets/vendor/jquery/jquery-3.6.0.min.js"></script>
<!-- Default Statcounter code for Dariomac.com
https://dariomac.com -->
<script type="text/javascript">
  var sc_project=9186547; 
  var sc_invisible=1; 
  var sc_security="dce954c9"; 
  </script>
  <script type="text/javascript"
  src="https://www.statcounter.com/counter/counter.js"
  async></script>
  <noscript><div class="statcounter"><a title="web counter"
  href="https://statcounter.com/" target="_blank"><img
  class="statcounter"
  src="https://c.statcounter.com/9186547/0/dce954c9/1/"
  alt="web counter"></a></div></noscript>
<!-- End of Statcounter Code -->
