<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Darío Macchi | {{title}}</title>

    <!--#include virtual="../common/_common_html_header.html" -->

    <script type="text/javascript" src="/assets/vendor/jquery.fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/assets/js/kanbancv.js"></script>

    <script type="text/javascript">
      $(function() {
        //board_dimensions.init(); //draw_kanban_board(boardArray, false, tasksArray, false);
        afterContentDraw();

        $(".fancybox").fancybox({
          openEffect  : 'none',
          closeEffect : 'none'
        });
      });
    </script>

  </head>
  <body itemscope itemtype="http://schema.org/WebPage">
    <div class="wrapper">
      <div class="header">
        <div class="center"></div>
      </div>
      <div class="board_view">
        <!--#include virtual="../common/_page_header.html" -->
        <div id="board_container">
          {{#if has_code}}
            <!--#include virtual="../common/_code-styler.html" -->
          {{/if}}
          <div class="content document">
          <h1>{{ title }}</h1>
          <div>
            <p class="date">{{ pub_date }}</p>
          </div>
          <div class="description">{{ short_description }}</div>
          {{{ body }}}
          {{#if acknowledgments}}
            <h2 id="Acknowledgments">Acknowledgments</h2>
              {{{ acknowledgments }}}
            <br>
          {{/if}}
          {{#if further_reading}}
            <h2 id="FurtherReading">Further Reading</h2>
            {{{ further_reading }}}
            <br>
          {{/if}}
          {{#if significant_revisions}}
            <h2>Significant Revisions</h2>
            {{{ significant_revisions }}}
            <br>
          {{/if}}
          {{ cms:snippet:entry-attachments }}
        </div>
        </div>
      </div>
    </div>
    <!--#include virtual="../common/_page_footer.html" -->

  </body>
</html>
