<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Darío Macchi | {{title}}</title>

    <!--#include virtual="../common/_common_html_header.html" -->

    <script type="text/javascript" src="/assets/vendor/jquery.fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/assets/js/kanbancv.js"></script>

    <script type="text/javascript">
      $(function() {
        //board_dimensions.init(); //draw_kanban_board(boardArray, false, tasksArray, false);
        afterContentDraw();

        $(".fancybox").fancybox({
          openEffect  : 'none',
          closeEffect : 'none'
        });
      });
    </script>

  </head>
  <body itemscope itemtype="http://schema.org/WebPage">
    <div class="wrapper">
      <div class="header">
        <div class="center"></div>
      </div>
      <div class="board_view">
        <!--#include virtual="../common/_page_header.html" -->
        <div id="board_container">
          <div class="content entry">
            <br>
            <div itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/WebPageElement">
              <span itemprop="name" style="display:none">Educational details</span>
              <table cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td class="swimlane_inner">
                      <strong>Details</strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="details_cell" itemprop="author" itemscope itemtype="http://schema.org/Person">
                      <span itemprop="name" style="display:none">Darío Macchi</span>
                      <h1>{{ title }}</h1>
                      <div>
                        <div>
                          {{ duration }}
                        </div>
                        {{#if dictated_by}}
                          <span style="float:left">Dictated by {{ dictated_by }} at&nbsp;</span>
                        {{/if}}
                        <div itemprop="alumniOf" itemscope itemtype="http://schema.org/Organization">
                          <a itemprop="url" href="{{ place_url }}">
                            <span itemprop="name">{{ place }}</span>
                          </a>
                        </div>
                        {{#if content}}
                          <div itemprop="description" class="details_content">
                            {{{ content }}}
                          </div>
                        {{/if}}

                        <!--#include virtual="../common/_entry-gallery.html" -->
                        <!--#include virtual="../common/_entry-attachments.html" -->
                      </div>
                    </td>
                  </tr>
                  {{#if lessons}}
                    <tr>
                      <td class="swimlane_inner">
                        <strong>Learned lessons</strong>
                      </td>
                    </tr>
                    <tr>
                      <td class="details_cell">
                        <div class="details_content">
                          {{{ lessons }}}
                        </div>
                      </td>
                    </tr>
                  {{/if}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--#include virtual="../common/_page_footer.html" -->

  </body>
</html>
