<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>{{{title}}}</title>
    <!--#include virtual="../common/header.html" -->
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='home.html'>Home</a></li>
        <li><a href='projects.html'>Projects</a></li>
        <li><a href='contact.html'>Contact</a></li>
    </nav>
    <h1>{{title}}</h1>
    <h2>{{date}}</h2>
    <p>{{place_url}}</p>
    <p>{{place}}</p>
    <p><a href="{{place_url}}">Link</a></p>
    <section id="summary">{{{content}}}</section>
    <section id="summary">{{{projects}}}</section>
    <section id="main">{{{other}}}</section>
    <figure>
      <!--#include virtual="../common/_entry-gallery.html" -->
      <!--#include virtual="../common/_entry-attachments.html" -->
    </figure>
  </body>
</html>
