* {
		padding:0;
		margin:0;
}
#maincontainer {
	position:relative;
	width:1000px;
	height:500px;
}
.infoovermap {
	position:absolute;
	width:152px;
	height:80px;
	border:1px solid #a32020;
	top:5px;
	left:30px;
	background-color:#FFFFFF;
	z-index:30000;
	display: none;
}
.message{
	position:absolute;
	top:5px;
	left:50%;
	margin-left:-235px;
	width:330px;
	padding:9px 16px;
	border:1px solid #fae2bf;
	background-color:#fbf0e5;
	color:#404041;
	z-index:30000;
	font-family:Georgia,serif;
	font-style:italic;
	font-weight:bold;
	font-size:15px;
	display: none;
	text-align: center;
}
.titleinfomap {
	padding:9px;
	*padding-bottom:0px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-weight:bold;
	color:#a32020;
	font-size:15px;
	display:block;
}
.textinfomap {
	padding:9px;
	padding-top:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#404041;
	display:block;
}
.mapbtngo {
	position:absolute;
	top:5px;
   	right:0;
	width:auto;
	background-color:#ffffff;
	border: 1px solid #a32020;
	color:#a32020;
	display:inline-block;
	padding:8px 22px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-weight:bold;
	z-index:30001;
	font-size:13px;
	cursor:pointer;
}
.mapbtngo:hover {
	background-color:#e0301e;
	color: #ffffff;
}
.mapbtngo_disabled {
	position:absolute;
	top:5px;
	right:0px;
	width:auto;
	background-color:#c7c8ca;
	color:#FFFFFF;
	display:inline-block;
	padding:8px 22px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	font-weight:bold;
	z-index:30001;
	font-size:13px;
	cursor:pointer;
	border: 1px solid #C7C8CA;
}
.citiesinfotitlemap {
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#a32020;
	font-style:italic;
	font-weight:bold;
	font-size:14px;
	width:400px;
	float:left;
	margin-bottom:8px;
}
.citiesclosemap {
	width:11px;
	height:11px;
	line-height:11px;
	overflow:hidden;
	border:1px solid #a32020;
	text-indent:-1000px;
	float:right;
	background-image:url("map-info-close-x.jpg");
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer;
}
.subtitleinfotitlemap {
	clear:both;
}
.formkeycitiesmap {
	clear:both;
	margin-top:10px;
}
.formkeycitiesmap input {
	margin-bottom:0px;
	margin-right:2px;
}
.formkeycities1map {
	float:left;
}
.citiesinfomap {
	position:absolute;
	width:413px;
	height:259px;
	padding:9px;
	top:50%;
	left:50%;
	margin-top:-130px;
	margin-left:-207px;
	z-index:30002;
	background-color:#FFFFFF;
	border:1px solid #a32020;
	font-family:Arial, Helvetica, sans-serif;
	color:#404041;
	font-size:12px;
	-webkit-box-shadow: 0 0 10px rgb(0,0,0);
	-moz-box-shadow: 0 0 10px rgb(0,0,0);
	box-shadow: 0 0 10px rgb(0,0,0);
	display: none;
}
.citiesinfomap .mapbtngo_disabled {
	clear:both;
	position:relative;
	top:auto;
	left:auto;
	float:right;
	*position:absolute;
	*float:none;
	*left:10px;
	*bottom:10px;
	background-color:#c7c8ca;
	padding:7px 14px;
	cursor:pointer;
}
.citiesinfomap .mapbtngo {
	clear:both;
	position:relative;
	top:auto;
	float:right;
	left:auto;
	*position:absolute;
	*float:none;
	*left:10px;
	*bottom:10px;
	background-color:#a32020;
	padding:7px 14px;
	color: #ffffff;
}
.citiesinfomap .mapbtngo:hover {
	background-color:#e0301e;
}
.citieschart .mapbtngo {
	clear:both;
	position:absolute;
	top:auto;
	left:auto;
	float:right;
	background-color:#a32020;
	padding:7px 14px;
	right: 10px;
	bottom: 10px;
	color: #ffffff;
}

#mobile .citieschart .mapbtngo
{
	bottom: auto;
	position: relative;
	margin-top: 10px;
}
.citieschart .mapbtngo:hover {
	background-color:#e0301e;
}
.citieschart {
	position:absolute;
	width:600px;
	height:450px;
	padding:9px;
	top:50%;
	left:50%;
	margin-top:-235px;
	margin-left:-310px;
	z-index:30002;
	background-color:#FFFFFF;
	border:1px solid #a32020;
	font-family:Arial, Helvetica, sans-serif;
	color:#404041;
	font-size:12px;
	-webkit-box-shadow: 0 0 10px rgb(0,0,0);
	-moz-box-shadow: 0 0 10px rgb(0,0,0);
	box-shadow: 0 0 10px rgb(0,0,0);
	display:none;
}

.development .citieschart
{
    margin-left: -250px;
}
.development #customShare
{
    display: none;
}

.inputvariable{
	display: inline-block;
	float: left;
	width: 50%;
	*display: block;
	*width: 205px !important;
}
.chart{
	float: left;
	background-repeat:no-repeat;
	background-position:center center;
	width:100%;
	height:220px
}

#mobile .chart{
	float: none !important;
}
.citieschartlegend {
	width:150px;
	height:11px;
	position:absolute;
	z-index:10000;
	left:50%;
	margin-left:-51px;
	bottom:17px;
}
.citieschartlegendicon {
	background-color:#a32020;
	width:11px;
	height:11px;
	float:left;
}
.citieschartlegendtext {
	line-height:11px;
	font-size:11px;
	width:35px;
	float:left;
	padding-left:5px;
}
.citieschartlegendiconorange {
	background-color:#a32020;
}

.citieschartnote {
    font-size: 11px;
    line-height: 9px;
	margin-left:-35px;
}


#left { visibility: inherit !important; }


#mobile #maincontainer {
	position:relative;
	width:100%;
	height:auto;
}

#mobile .mapbtngo{
	position: relative;
	top:auto;
	left:auto;
	margin-bottom:10px;

}

#mobile .mapbtngo_disabled{
	position: relative;
	top:auto;
	left:auto;
	margin-bottom:10px;
}

#mobile .infoovermap {
	position:absolute;
	float: right;
	top:0px;
	left:auto;
	right: 0px;
	z-index:30000;
	display: none;
}

#mobile .citiesinfomap{
	width: 90%;
	height: auto;
	top: 0px;
	left: auto;
	margin-top: 0px;
	margin-left: 0px;
}


#mobile .citieschart {
	width:310px !important;
	margin-left: -155px !important;
	height: auto;
	top: 115px;
	padding:5px;
}

#center {
	*z-index:40001 !important;
}


@media print
{
	#customShare {
		display:none;
	}
	.citieschart {
		margin-left:-350px;
	}
	.citieschart .mapbtngo {
		display:none;
	}
}

.selecteddivs {
	position:relative;
}
.selecteddiv {
	border:1px solid #a32020;
	background-color:#e8c7c7;
	color:#a32020;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	cursor:pointer;
	padding:10px;
	width:391px;
	height:25px;
	font-size:13px;
    margin-bottom:8px;
}
.selecteddiv:hover {
	background-color:#fbeef0;
}
.activediv {
	background-color:#a32020;
	color:#FFFFFF;
	cursor:inherit;
	font-weight:bold;
}
.activediv:hover {
	background-color:#a32020;
	color:#FFFFFF;
	cursor:inherit;
}
#center ul, #home ul, .tooltip ul {
    margin-left: 0 !important;
}

ul > li{
	margin-left:20px;
}
